
.e8_68 { 
	background-color:rgba(212.4999949336052, 212.4999949336052, 212.4999949336052, 1);
	height:2544px;
	position:absolute;
	overflow:hidden;
}
.e8_70 { 
	color:rgba(0, 0, 0, 1);
	height:29px;
	position:absolute;
	left:711px;
	top:272px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e8_71 { 
	background-color:rgba(0, 0, 0, 1);
	height:2544px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_72 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:228px;
	height:216px;
	position:absolute;
	left:108px;
	top:102px;
}
.e8_73 { 
	height:239px;
	position:absolute;
	left:116px;
	top:90px;
	background-image:url(images/ericalogo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_74 { 
	height:171.11415100097656px;
	position:absolute;
	left:0px;
	top:1027px;
}
.e8_75 { 
	color:rgba(255, 255, 255, 1);
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e8_76 { 
	height:36.657535552978516px;
	position:absolute;
	left:58px;
	top:68px;
}
.e8_77 { 
	color:rgba(255, 255, 255, 1);
	height:36.657535552978516px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e8_78 { 
	height:62.11415481567383px;
	position:absolute;
	left:72px;
	top:109px;
}
.e8_79 { 
	color:rgba(255, 255, 255, 1);
	height:62.11415481567383px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_80 { 
	width:167px;
	position:absolute;
	left:179px;
	top:63px;
	background-image:url(images/captura_de_tela_2022_10_04_195210_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_81 { 
	height:236px;
	position:absolute;
	left:0px;
	top:716px;
}
.e8_82 { 
	color:rgba(255, 255, 255, 1);
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e8_83 { 
	height:42px;
	position:absolute;
	left:49px;
	top:74px;
}
.e8_84 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	height:42px;
	position:absolute;
	left:267px;
	top:0px;
}
.e8_85 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	height:42px;
	position:absolute;
	left:73px;
	top:0px;
}
.e8_86 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	height:42px;
	position:absolute;
	left:139px;
	top:0px;
}
.e8_87 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	height:42px;
	position:absolute;
	left:204px;
	top:0px;
}
.e8_88 { 
	color:rgba(250.75000405311584, 250.75000405311584, 250.75000405311584, 1);
	height:24px;
	position:absolute;
	left:0px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e8_89 { 
	height:44px;
	position:absolute;
	left:46px;
	top:192px;
}
.e8_90 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	height:42px;
	position:absolute;
	left:264px;
	top:0px;
}
.e8_91 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	height:42px;
	position:absolute;
	left:76px;
	top:2px;
}
.e8_92 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:143px;
	top:2px;
}
.e8_93 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:205px;
	top:2px;
}
.e8_94 { 
	color:rgba(250.75000405311584, 250.75000405311584, 250.75000405311584, 1);
	width:77px;
	height:24px;
	position:absolute;
	left:0px;
	top:11px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_95 { 
	width:318px;
	height:42px;
	position:absolute;
	left:49px;
	top:133px;
}
.e8_96 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:267px;
	top:0px;
}
.e8_97 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:73px;
	top:0px;
}
.e8_98 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:139px;
	top:0px;
}
.e8_99 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:204px;
	top:0px;
}
.e8_100 { 
	color:rgba(250.75000405311584, 250.75000405311584, 250.75000405311584, 1);
	width:77px;
	height:24px;
	position:absolute;
	left:0px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_101 { 
	color:rgba(255, 255, 255, 1);
	width:313px;
	height:163px;
	position:absolute;
	left:60px;
	top:375px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e8_102 { 
	width:798px;
	height:523px;
	position:absolute;
	left:641px;
	top:826px;
}
.e8_103 { 
	background-color:rgba(13.81250012665987, 12.661458291113377, 12.661458291113377, 1);
	width:794px;
	height:57px;
	position:absolute;
	left:4px;
	top:0px;
}
.e8_104 { 
	color:rgba(255, 255, 255, 1);
	width:492px;
	height:39px;
	position:absolute;
	left:26px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e8_105 { 
	color:rgba(0, 0, 0, 1);
	width:645px;
	height:34px;
	position:absolute;
	left:0px;
	top:98px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e8_106 { 
	color:rgba(0, 0, 0, 1);
	width:703px;
	height:170px;
	position:absolute;
	left:34px;
	top:178px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e8_107 { 
	color:rgba(0, 0, 0, 1);
	width:497.71673583984375px;
	height:34px;
	position:absolute;
	left:34px;
	top:409px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e8_108 { 
	color:rgba(0, 0, 0, 1);
	width:498px;
	height:68px;
	position:absolute;
	left:34px;
	top:455px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e18_2 { 
	width:812px;
	height:452px;
	position:absolute;
	left:427px;
	top:1456px;
}
.e18_3 { 
	background-color:rgba(13.81250012665987, 12.661458291113377, 12.661458291113377, 1);
	width:794px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}
.e18_4 { 
	color:rgba(255, 255, 255, 1);
	width:461px;
	height:39px;
	position:absolute;
	left:31px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e18_5 { 
	color:rgba(0, 0, 0, 1);
	width:578px;
	height:34px;
	position:absolute;
	left:31px;
	top:90px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e18_6 { 
	color:rgba(0, 0, 0, 1);
	width:781px;
	height:170px;
	position:absolute;
	left:31px;
	top:135px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e18_7 { 
	color:rgba(0, 0, 0, 1);
	width:509px;
	height:34px;
	position:absolute;
	left:31px;
	top:338px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e18_8 { 
	color:rgba(0, 0, 0, 1);
	width:416px;
	height:68px;
	position:absolute;
	left:31px;
	top:384px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e8_69 { 
	color:rgba(0, 0, 0, 1);
	width:898px;
	height:58px;
	position:absolute;
	left:543px;
	top:210px;
	font-family:Cormorant Garamond;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e8_109 { 
	width:794px;
	height:357px;
	position:absolute;
	left:427px;
	top:394px;
}
.e8_110 { 
	background-color:rgba(13.81250012665987, 12.661458291113377, 12.661458291113377, 1);
	width:794px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_111 { 
	color:rgba(255, 255, 255, 1);
	width:209px;
	height:39px;
	position:absolute;
	left:31px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e8_112 { 
	color:rgba(0, 0, 0, 1);
	width:633px;
	height:34px;
	position:absolute;
	left:31px;
	top:93px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e8_113 { 
	color:rgba(0, 0, 0, 1);
	width:509px;
	height:68px;
	position:absolute;
	left:31px;
	top:135px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e8_114 { 
	color:rgba(0, 0, 0, 1);
	width:509px;
	height:34px;
	position:absolute;
	left:31px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e8_115 { 
	color:rgba(0, 0, 0, 1);
	width:416px;
	height:68px;
	position:absolute;
	left:31px;
	top:289px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
